/* Index */

.gc-home-hero {
    min-height: 500px;
    display: flex;
    background-image: url("/glucocheck/assets/hero_img_container.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.hero-content {
    width: 50%;
    margin-top: 5rem;
}

.hero-content p {
    line-height: 2.5rem;
}

.button_link_root a {
    padding-top: 1.5rem;
}