/*  ============= TAG OVERRIDES ==============  */
/* This stylesheet are for overriding tags  */
html,
body {
    font-family: 'PT Serif', serif;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
}

main {
    padding-top: 80px;
}
section {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* ======= FONTS (a, p, headers, etc.) ======= */

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    color: #1D1D1C;
}

p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.3;
    text-align: left;
    letter-spacing: normal;
    text-align: left;
    color: #1D1D1C;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #1D1D1C;
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1rem;
}

/* footer header */
h5 {
    font-size: 0.8rem;
}

/* ============== LINK STATES ==============*/

li a {
    color: #1D1D1C;
    line-height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    transition: color 0.1s ease;
    border-bottom: 3px solid #ef5350;
    font-weight: 800;
    color: #1D1D1C;
}


*, :after, :before {
    box-sizing: border-box;
}