/* =========== REUSABLE UI CLASSES =========== */

/* ====== Container/ wrapper/ fields ====== */

.gc-container {
    max-width: calc(1180px + 4rem);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.gc-field {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: solid 1px rgba(149, 152, 154, 0.3);
    padding: 0px 30px;
}


/* =============== Typography =============== */

.gc-heading {
    padding-bottom: 2rem;
}

.gc-text p{
    margin-bottom: 1rem;
}

#gc-para-header {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.gc-label-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
/* ================ BUTTONS ================= */
.gc-button {
    font-weight: bold;
    width: 140px;
    max-width: 100%;
    align-items: center;
    /* margin-top: auto; */
    height: 3rem;
    padding: 0.7rem 2rem;
    align-self: flex-start;
    cursor: pointer
}

.gc-button-type-primary { 
    background-color: #ef5350;
    border: solid 2px #ef5350;
    border-radius: 30px;
    color: #fff;
}

.gc-button-type-secondary { 
    background-color: #fff;
    border-color: #ef5350;
    color: #ef5350;
    border: solid 2px #ef5350;
    border-radius: 30px;
}

.gc-button-content {
    position: relative;
}

/* ============== BUTTON STATES ============== */
.gc-button-type-primary:hover {
    background-color: #db4d4a;
    border-color: #db4d4a;
    color: #fff;
}
.gc-button-type-secondary:hover {
    background-color: #fff;
    border-color: #db4d4a;
    color: #db4d4a;
}

.button-small:hover {
    background-color: #E37630;
    border: solid 2px #E37630;
    margin-left: 1rem;
    color: #fff;
}

/* ================= CARDS ================= */

    /* transform: scale(1.01);
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.16);
    transition-timing-function: ease-out; */
    /* transition: 0.50s; */

/* ================= IMAGES ================= */
/* img {
    max-width: 100%;
    max-height: 100%;
} */

/* ========== HEADING LINE DIVIDER ========== */

.gc-col {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
}

.gc-grid-2, .gc-grid-3, .gc-grid-4 {
    display: flex;
    margin: 0 -1rem;
}

.gc-grid-2 > .gc-col {
    width: 50%;
}

.gc-grid-3 > .gc-col {
    width: 33.33%;
}

.gc-grid-4 > .gc-col {
    width: 25%;
}


/* ============= FORMS ============= */

input {
    width: 100%;
}

textarea {
    width: 100%;
}

input[type=text], input[type=date], input[type=password], select, textarea {
    width: 100%;
    height: 45px;
    padding: 12px;
    border-radius: 5px;
    border: solid 2px #1d1d1c;
    background-color: #f6f6f6;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #1d1d1c;
}

input[type=text]:focus {
    outline: 0;
    border-color: #db4d4a;
    background-color: #f6f6f6;
}


/* ============= RESPONSIVENESS ============= */

@media only screen and (max-width: 768px) {
    .gc-col {
        width: 100%;
    }
}