/* =========== REUSABLE UI CLASSES =========== */

.gc_container {
    max-width: calc(1280px + 4rem);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.gc_field {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: solid 1px rgba(149, 152, 154, 0.3);
    padding: 0px 30px;
}

/* ================ BUTTONS ================= */
.gc_button {
    font-weight: bold;
    width: 140px;
    max-width: 100%;
    align-items: center;
    margin-top: auto;
    height: 3rem;
    padding: 1rem 1.7rem;
    align-self: flex-start;
    cursor: pointer
}

.gc_button-type-primary { 
    background-color: #ef5350;
    border: solid 2px #ef5350;
    border-radius: 30px;
    color: #fff;
}

.gc_button-type-secondary { 
    background-color: #fff;
    border-color: #ef5350;
    color: #ef5350;
    border: solid 2px #ef5350;
    border-radius: 30px;
}

.gc_button-content {
    position: relative;
}

/* ============== BUTTON STATES ============== */
.gc_button-type-primary:hover {
    background-color: #db4d4a;
    border-color: #db4d4a;
    color: #fff;
}
.gc_button-type-secondary:hover {
    background-color: #fff;
    border-color: #db4d4a;
    color: #db4d4a;
}

.button-small:hover {
    background-color: #E37630;
    border: solid 2px #E37630;
    margin-left: 1rem;
    color: #fff;
}

/* ================= CARDS ================= */

    /* transform: scale(1.01);
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.16);
    transition-timing-function: ease-out; */
    /* transition: 0.50s; */

/* ================= IMAGES ================= */
img {
    max-width: 100%;
    max-height: 100%;
}

/* ========== HEADING LINE DIVIDER ========== */
.header_line_divider { 
    margin-top: 8px;
    margin-bottom: 20px;
}

.gc_col {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
}

.gc_grid-2, .gc_grid-3, .gc_grid-4 {
    display: flex;
    margin: 0 -1rem;
}

.gc_grid-2 > .gc_col {
    width: 50%;
}

.gc_grid-3 > .gc_col {
    width: 33.33%;
}

.gc_grid-4 > .gc_col {
    width: 25%;
}

@media only screen and (max-width: 768px) {
    .gc_col {
        width: 100%;
    }
}