.about-main-content-container {
    width: 100%;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.about-body-content-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.body-content {
    padding-right: 480px;
}
.body-content-right {
    padding-left: 480px;
    text-align: right;
}

.content-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* ============ Responsive ============ */

@media only screen and (max-width: 600px) {

    .about-main-content-container {
        padding-left: 2em;
        padding-right: 2rem;
    }
    .body-content {
        padding-right: 2rem;
    }
    .body-content-right {
        padding-left: 2rem;
        text-align: center;
    }

}