.footer-root-container {
    width: 100vw;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    bottom: 0;
    z-index: 100;
}

.footer-grid-container {
    max-width: calc(1280px + 4rem);
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 100%;
}

.inner-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.footer-lists {
    list-style: none;
}
.footer-header-h4 {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}
.footer-lists a {
    text-transform: none;
    
}

.footer-company, .footer-product, .footer-connect {
    grid-column: span 2;
    line-height: 20px;
}
.footer-logo {
    grid-column: span 2;
    line-height: 20px;
    width: 7rem;
}

.footer_legal_container {
    font-size: 0.7rem;
}
#footer_legal_text {
    padding: 2px;
    font-size: 0.7rem;
}

.footer_legal_container .footer_link_root {
    font-family: 'PT Serif', serif;
}


/* ========= MEDIA QUERY ========= */

@media screen and (max-width: 991px) {
    .footer-root-container {
        padding-left: 2rem;
        padding-right: 2rem;

    }
}
@media screen and (max-width: 600px) {
    .inner-footer {
        display:grid;
        grid-template-columns: 1fr;
        text-align:center;
    }
}