header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    height: 80px;
    z-index: 100;
    overflow: hidden;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-list-wrapper{
    margin-left: auto;
}

nav-menu {
    margin-left: auto;
}

.nav-list li {
    margin-left: auto;
    display: inline-block;
    margin: 1em;
}

.hamburger-menu {
    display: none;
    font-size: 26px;
    display: none;
    width: 26px;
    cursor: pointer;
    float: right;
}

#toggle{
    display:none;
}

/* ====== Icon — person ====== */
.icon-user {
    width: 19px;
    height: 22px;
    background: url("/glucocheck/assets/icon-person-default.svg") no-repeat;
    display: inline-flex;
    transition: all 0.5s ease;
}

.icon-user:hover {
    background: url("/glucocheck/assets/icon-person-hover.svg") no-repeat;
}


/* ====== RESPONSIVENESS ====== */
@media only screen and (max-width: 600px) {
    .hamburger-menu  {
        display: block;
        margin-left: auto;
    }
    .nav-list {
        display: none;
    }

    .hamburger-menu>label{
        cursor:pointer;
    }

    #hamMenu{
        position: fixed;
        transform: translate(-200px,20px);
        background-color:white;
        width:300px;
        height:170px;
        text-align: center;
    }

    #hamMenu>li{
        list-style: none;
    }
}