header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    height: 80px;
    z-index: 100;
    overflow: hidden;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.nav_list_wrapper{
    margin-left: auto;
}

.nav_list li {
    display: inline-block;
    margin: 1rem;
}

