/* Index */

.hero-container {
    min-height: 500px;
    display: flex;
    background-image: url("/glucocheck/assets/hero_img_container.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.hero-content {
    width: 50%;
    margin-top: 5rem;
}

.hero-content h1 {
    padding-bottom: 2rem;
}

.hero-content p {
    line-height: 2.5rem;
    padding-bottom: 2rem;
}

.gc-container-full, .gc-container-form-center{ 
    display: flex;
    flex-direction: row;
    margin: auto;
}
.gc-container-three-cards, .gc-container-two-full {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.content-wrapper {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.gc-header, .gc-p {
    padding-bottom: 3rem;
    text-align: center;
}
.card-container-wrapper {
    display: flex;
}

.card-container-element {
    padding: 10px 20px;
    width: 33%;
}

.card-container-element img {
    width: 100%;
}

.card-container-element h4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* ========= Register Section ========= */

.gc-container-register {
    margin: 1rem 23rem;
    max-width: 40%;
}
.register-form {
    margin-bottom: 150px;
}


/* ============ Responsive ============ */

@media only screen and (max-width: 768px) {

    .card-container-element {
        width: 100%;
    }
    .card-container-wrapper {
        flex-direction: column;
    }

    .gc-container-full {
        width: 100%;
    }
    .content-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .hero-content {
        width: 100%;
    }
    .gc-container-register {
        width: 100%;
        margin: auto;
        max-width: 100%;
    }


}